
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: hsl(148, 38%, 91%); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}


.form {
  background-color:hsl(0, 0%, 100%) ;
  width: 100%;
  max-width: 420px;
  padding: 24px;
  border-radius: 12px;
}


.form h3 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.form label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 6px;
}

.client__input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 16px;
}

.client__ifo {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}

.client__name {
  flex: 1;
}



.form input[type="radio"] {
  margin-right: 6px;
}


textarea.client__input {
  resize: none;
  height: 90px;
}

.querry__input{
    display: flex;
    gap: 10px;
    align-items: center;
}


.form input[type="checkbox"] {
  margin-right: 8px;
}

.form label:last-of-type {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 16px;
}


#button {
  width: 100%;
  padding: 12px;
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
}

.error__message{
  font-size: smaller;
  color:hsl(0, 66%, 54%) ;
  display: none;
}

#email__error{
  display: none;
}

.user__infor{
  width: 100%;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
  background-color:hsl(0, 0%, 100%);
}

#messagePreview {
  width: 100%;
  min-height: 50px;
  max-height: 300px; 
  font-size: 16px;
  resize: none; 
}


@media screen and (min-width: 1024px) and (max-width:1440px){
  main {
  display: flex;
  flex-direction:row;
}

.user__infor{
  width: 30%;
 
}
}

/* .attribution {
  margin-top: 20px;
  font-size: 0.75rem;
  color: #555;
  text-align: center;
}

.attribution a {
  color: #0b7a5a;
  text-decoration: none;
} */
